li>a{
    background-color: crimson;
    color: white !important;
}
.nav-col{
    background-color: crimson;
}
.center{
    text-align: center;
}
th, td, tr{
    border: 1px solid red !important;
}
body{
    overflow-y: scroll; overflow-x:hidden;
}
